{
    "name": "desktop-entry",
    "buildsystem": "simple",
    "build-commands": [
        "mkdir -p /app/share/applications",
        "install -Dm644 k40whisperer.desktop /app/share/applications/k40whisperer.desktop"
    ],
    "sources": [
        {
            "type": "inline",
            "contents": "[Desktop Entry]\nName=K40 Whisperer\nExec=/app/bin/k40_whisperer.py\nIcon=/app/icons/scorchworks.ico\nType=Application\nCategories=Graphics;"
        }
    ]
}
